/* Colour Palette */
/* ----------------------------------------------------- */
/* #003049 - Navy */
/* #D62828 - Red */
/* #F77F00 - Orange*/
/* #FCBF49 - Caramel */
/* #EAE2B7 - Lemon */

/* Secondary Palette */
/* #fff7f7 - Red */
/* #5e17eb - Blue */
/* #cb6ce6 - Purple */
/* #ff66f4 - Pink */
/* #ebd8b7 - light brown*/

/* ----------------------------------------------------- */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* ----------------------------------------------------- */
/* Global Styles */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434; /* dark gray - almost black */
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;  
    font-size: 15px;
    line-height: 1.5;
}

a {
    text-decoration: none;   
}

h1 {
    font-size: 60px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Merriweather', sans-serif; 
    font-weight: 600;
}

.content-wrap {
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
    padding: 15px 0;
    background-color: #ebd8b7;
}

/* ----------------------------------------------------- */
/* Nav */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-weight: 600;
    transition: all .7s ease-in;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
  }

.navbar a {
    padding: 5px;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
    color: #ff5757;
}

/* ----------------------------------------------------- */
/* About Me */

.about {
    /* background-color: #03071E; */
    background-color: #ebd8b7;
    color: #ffffff;
    padding-bottom: 10px;
    color: #003049;
    background-position: left;
    background-size: 44%;
    background-repeat: no-repeat;
}

.about h1 {
    font-size: 120pt;
}

.about h2 {
    float: left;
    font-size: 30pt;
}

.about-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 150px;
}

.about-item img {
    max-width: 250px;
    object-fit: contain;
    margin-right: 2rem;
}

.about-item p {
    font-size: 18pt;
    align-self: justify;
    position: relative;
    max-width: 400px;
    line-height: 1.55;
    font-weight: 570 !important;
}

.about .button {
    border: #003049 solid 5px;
    border-radius: 5px;
    min-width: 100px;
    min-height: 50px;
    padding: 10px;    
    background-color: #ffffff;
    color: #003049;
    text-align: center;
    font-size: 26pt;
    margin-top: -50px;
}

/* ----------------------------------------------------- */
/* Intro */

.intro {
    background-color: #ebd8b7;
    margin: auto;
    display: flex;
    justify-content: center;
}

.intro-content {
    padding: 25px;
    border-radius: 5px;
}

.intro-content-block {
    color: #003049;
    background-color: #ffffff;
    border: #003049 5px solid;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    min-width: 800px;
}

.intro h4, p{
    font-size: 16pt;
    min-width: 100px;
    margin: auto;
}

.intro p {
    font-size: 16pt;
    max-width: 400px;
    min-width: 400px;
    text-align: justify;
    opacity: 0;

    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}

/* ----------------------------------------------------- */
/* Examples */

.examples {
    background-color: #ebd8b7;
    color: #003049;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}

.examples-item-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: justify;
}

.examples-item {
    background-color: #ffffff;
    padding: 25px;
    border: solid 5px #003049;
    margin: 15px;
    max-width: 800px;
    justify-content: center;
}

.examples-item img {
    max-width: 300px;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    padding: 15px;
    height: 250px;
    bottom: 0px;
}
.examples-item p {
    font-size: 16pt;
    line-height: 2rem;
    
}

.examples a {
    color: #003049;
}

.examples a:hover {
    text-decoration: underline;
}


/* ----------------------------------------------------- */
/* Skillset */

.skillset {
    background-color: #ffffff;
    color: #003049;
    padding: 25px 10px; 
    margin-bottom: 25px;
}

.skill-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 20px;

}

.skill-item img {
    max-width: 100px;
    margin: 0 auto;
    padding-right: 15px;

}

.skill-item p {
    text-align: center;
    font-size: 18pt;
    margin-bottom: 10px;

}

#icons {
    float: right;
    color: grey;
}

#icons a {
    color: grey;
}

/* ----------------------------------------------------- */
/* Companies */

.companies {
    background-color: #ffffff;
    color: #003049;
    padding: 25px 10px; 
    margin-bottom: 40px;
}

.companies-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 30px;
}

.companies-item img {
    min-height: 50px;
    max-height: 50px;
}

.companies-item p {
    text-align: left;
    font-size: 14pt;
    
}

/* ----------------------------------------------------- */
/* Publications */

.publications {
    background-color: #ebd8b7;
    color: #003049;
    padding: 15px;
    margin: 0 auto;
}

.publications-item-row {
    display: flex;
    text-align: left;
    border: #003049 5px solid;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.publications-item {
    padding: 15px;
    margin: 15px;
    max-width: 300px;
    min-width: 250px;
}

.publications-item h3 {
    padding-left: 15px;
}

.publications-item p {
    font-size: 16px;
    justify-content: space-evenly;
}

.publications a {
    color: #003049;
}

.publications a:hover {
    text-decoration: underline;
}

/* ----------------------------------------------------- */
/* Contact */

.contact {
    background-color: #03071E;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.contact-list a:hover {
    text-decoration: underline;
}

.contact-list li {
    margin-bottom: 15px;
}


/* ----------------------------------------------------- */
/* Responsiveness */

@media screen and (max-width: 1370px){

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
        font-weight: 600;
        transition: all .7s ease-in;
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: #ffffff;
    }

    .about {
        background-image: none;
        margin: 0 auto;
    }

    .about-item {
        display: flex;
        flex-flow: inherit;
    }

    .about-item img {
        justify-content: center;
        column-gap: 0px;
        margin: auto;
    }

    .about h1 {
        font-size:60pt;
        margin-top: 150px;
    }

    .about h2 {
        font-size: 20pt;
    }

    .about-item p {
        font-size: 18pt; 
        text-align: center;
        position: relative;
        left: 0px;
    }

    .about-item .button {
        margin-top: 0px;
        margin-bottom: 75px;
    }

    .publications-item-row {
        flex-direction: row wrap;
        flex-wrap: wrap;
        justify-content: left;
        max-width: 800px;
        background-color: #ebd8b7;
        border: none;
    }

    .publications-item {
        background-color: #ffffff;
        border: #003049 5px solid;
    }
}

@media screen and (max-width: 1000px) {

    .about {
        text-align: center;
        background-position: center;
        background-size: cover;
    }

}

@media screen and 
(max-width: 650px){ 


    h2 {
        font-size: 25px;
    }

    p {
        text-align: center;
    }

    img {
        max-width: 300px;
    }

    .about h1 {
        font-size: 70px;
        text-align: center;
        line-height: 1.1;
    }

    .about-item {
        flex-flow: row wrap;
    }

    .about p {
        font-size: 15pt;
    }

    .navbar {
        display: none;
    }

    .intro {
        text-align: center;
    }

    .intro-content-block {
        max-width: 350px;
        min-width: 200px;
        justify-content: flex-start;
        flex-wrap: column wrap;
        flex-direction: column wrap;
        flex-flow: column;
        padding: 15px;
    }

    .intro-content-block p {
        font-size: 14pt;
        min-width: 250px;
        max-width: 300px;
        text-align: center;
    }

    .companies-item {
        flex-flow: column;
        flex-direction: column;
        align-items: center;
    }

    .companies-item img {
        margin: 15px;
    }

    .examples {
        background-color: #ebd8b7;
        color: #003049;
        padding: 15px;
        text-align: center;

    }

    .examples-item-row {
        display: flex;
        margin-bottom: 15px;
        min-width: 300px;
    }
    
    .examples-item {
        padding: 15px;
        margin: 15px;
        max-width: 300px;
        min-width: 250px;
    }

    .examples-item p {
        font-size: 14pt;
    }

    .examples-item h3 {
        text-align: center;
    }

    .publications h3 {
        text-align: center;
    }


    .contact-list a {
        text-decoration: underline;
    }
}