/* Colour Palette */
/* ----------------------------------------------------- */
/* #003049 - Navy */
/* #D62828 - Red */
/* #F77F00 - Orange*/
/* #FCBF49 - Caramel */
/* #EAE2B7 - Lemon */

/* Secondary Palette */
/* #fff7f7 - Red */
/* #5e17eb - Blue */
/* #cb6ce6 - Purple */
/* #ff66f4 - Pink */
/* #ebd8b7 - light brown*/

/* ----------------------------------------------------- */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* ----------------------------------------------------- */
/* Global Styles */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434; /* dark gray - almost black */
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;  
    font-size: 15px;
    line-height: 1.5;
}

a {
    text-decoration: none;   
}

h1 {
    font-size: 60px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Merriweather', sans-serif; 
    font-weight: 600;
}

.content-wrap {
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
    padding: 15px 0;
}

/* ----------------------------------------------------- */
/* Nav */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-weight: 600;
    transition: all .7s ease-in;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
  }

.navbar a {
    padding: 5px;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
    color: #ff5757;
}

/* ----------------------------------------------------- */
/* About Me */

.about {
    /* background-color: #03071E; */
    background-color: #ebd8b7;
    color: #ffffff;
    padding-bottom: 30px;
    color: #003049;

    background-image: url(./components/assets/images/about-bg.png);
    background-position: left;
    background-size: 44%;
    background-repeat: no-repeat;
}

.about-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    column-gap: 150px;
}

.about-item img {
    max-width: 250px;
    object-fit: contain;
    margin-right: 2rem;
}

.about-item p {
    font-size: 18pt;
    align-self: justify;
    position: relative;
    max-width: 600px;
    line-height: 1.55;
    font-weight: 570 !important;
}

/* ----------------------------------------------------- */
/* Hero */

.hero {
    background: #000;
    color: white;
    padding-bottom: 30px;
    /* border: 3px solid yellow; */
}

.hero-item {
    display: flex;
}

.hero-item img {
    padding: 15px;
    max-width: 1200px;
    object-fit: contain;
    /* border: 3px solid red; */
}

.hero-item p {
    font-size: 18pt;
    align-self: center;
    /* border: 3px solid blue; */
}

/* ----------------------------------------------------- */
/* Examples */

.examples {
    background-color: #ebd8b7;
    color: #003049;
    padding: 15px;
    margin: 0 auto;
}

.examples p {
    font-style: italic;
}


.examples-item-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
    
}

.examples-item {
    background-color: #ffffff;
    padding: 15px;
    border: solid 5px #003049;
    margin: 15px;
    max-width: 350px;
    justify-content: center;
}

.examples-item img {
    max-width: 300px;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    padding: 15px;
    height: 250px;
    bottom: 0px;
}
.examples-item p {
    font-size: 16px;
}

.examples a {
    color: #003049;
}

.examples a:hover {
    text-decoration: underline;
}


/* ----------------------------------------------------- */
/* Skillset */

.skillset {
    background-color: #ffffff;
    color: #003049;
    padding: 25px 10px; 
}

.skill-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 20px;
}

.skill-item img {
    max-width: 200px;
    margin: 0 auto;
    padding: 15px;
}

.skill-item p {
    text-align: center;
    font-size: 18pt;
}

#icons {
    float: right;
    color: grey;
}

#icons a {
    color: grey;
}


/* ----------------------------------------------------- */
/* Projects */

.projects {
    background-color: #003049;
    color: #ffffff;
    padding: 15px; 
    margin: 0 auto;
}

.projects img {
    max-width: 400px;
    margin-bottom: 15px;
}

.project-item-row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 15px;    
}

.project-item {
    padding: 20px;
    border-radius: 15px;
    margin: 0 5px;
    background-color: white;
    color: #003049;
    max-width: 600px;
    margin: 25px;
    text-align: center;
}

.project-item p {
    font-size: 18px;
}

.projects ul {
    list-style-type: none;
    display: inline;
}

.projects a {
    color: #003049;
}

.projects a:hover {
    text-decoration: underline;
}

/* ----------------------------------------------------- */
/* Publications */

.publications {
    background-color: #ffffff;
    color: #003049;
    padding: 15px;
    margin: 0 auto;
}

.publications p {
    font-style: italic;
}

.publications-item img {
    max-width: 300px;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    padding: 15px;
    height: 250px;
}

.publications-item-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
    
}

.publications-item {
    padding: 15px;
    border: solid 5px #003049;
    margin: 15px;
    max-width: 350px;
    justify-content: center;
}

.publications-item p {
    font-size: 16px;
}

.publications a {
    color: #003049;
}

.publications a:hover {
    text-decoration: underline;
}

/* ----------------------------------------------------- */
/* Contact */

.contact {
    background-color: #03071E;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.contact-list a:hover {
    text-decoration: underline;
}

.contact-list li {
    margin-bottom: 15px;
}


/* ----------------------------------------------------- */
/* Responsiveness */

@media screen and (max-width: 1370px){

    .about {
        background-image: none;
        margin: 0 auto;
    }

    .about-item {
        display: flex;
        flex-flow: inherit;
    }

    .about-item img {
        justify-content: center;
        column-gap: 0px;
        margin: auto;
    }

    .about-item p {
        font-size: 18pt; 
        text-align: center;
        position: relative;
        left: 0px;
    }

    .hero-item {
        flex-direction: column;
        text-align: center;
    }

    .hero-item img {
        max-width: 800px;
        align-self: center;
    }

    .project-item {
        max-width: 400px; 
    }

    .project-item img {
        max-width: 280px;
    }

    .project-item a {
        font-weight: 600;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1000px) {

    .about {
        text-align: center;
        background-position: center;
        background-size: cover;
    }

    .project-item-row {
        max-width: 800px;
        flex-flow: unset;
        flex-direction: column;
    }

    .project-item {
        justify-content: center;
        max-width: 800px;
        align-self: center;
        margin-bottom: 15px;
        text-align: center;
    }

    .project-item img {
        max-width: 600px;
    }
}

@media screen and 
(max-width: 650px){ 

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        text-align: center;
    }

    img {
        max-width: 300px;
    }

    .about-item {
        flex-flow: row wrap;
    }

    .about p {
        font-size: 15pt;
    }

    .navbar {
        display: none;
    }

    .navbar-mobile {
        max-width: 100%;
        padding: 0;
        bottom: 0;
        flex-direction: column;
    }

    .hero-item {
        flex-direction: column;
    }

    .hero-item img {
        max-width: 365px;
    }

    .hero-item p {
        font-size: 15pt;
        /* border: 3px solid blue; */
    }

    .projects {
        padding: 0;
    }

    .project-item-row {
        flex-direction: column;
        padding: 0;
    }

    .project-item {
        margin-bottom: 15px;
        text-align: center;
    }

    .publications h3 {
        text-align: center;
    }

    .projects img {
        max-width: 225px !important;
    }

    .contact-list a {
        text-decoration: underline;
    }
}